.addfile .search-input{
	width: calc(100% - 100px);
}
.addfile .search-btn{
	width:100px;
}
.addfile .search-btn .btn{
	width:100%;
}
.warn{
	color:#333;
	font-size: 0.7rem;
	margin:12px;
	display:block;
	line-height: 20px;
}