.collect_title{
	font-size:0.8rem!important;
	color:#999;
}
.delete{
	width: 99px!important;
    height: 74px!important;
    background: orange;
    right: 0px;
    float:left;
    display:inline-block;
    top:0px;
    color:#fff;
    line-height: 74px!important;
    text-align: center;
    z-index:11;
    border-left:1px solid #e5e5e5;
}

.collect .cbox{
    width: calc(100% + 100px);
    position: relative;
    overflow-x: initial;
    border-top: 1px solid #d9d9d9;
}


.collect .collect_title{
    width:80%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.collect .weui-cells {
    min-height: 420px;
    overflow-x: auto;
  
}
.collect .x .weui-cell.weui-cell_access{
    float: left;
    width: calc(100% - 90px);
    display:inline-block;
    padding:10px 0px 10px 0px!important;
}
.clear{
    clear:both;
}
.collect .weui-cell_access .weui-cell__ft{
    right:28px;
    bottom:24px;
}
.o{
    width:100%;
    overflow-x: hidden;
}
.x{
    height:75px;
    overflow-y: hidden;
    overflow-x: hidden;
}

::-webkit-scrollbar
{
    height:0px;
    background-color:transparent;
}
.collect .weui-media-box__desc ul {
    padding: 3px 0 0px 0;
}
.weui-media-box__desc li{
    line-height: 21px;
    font-size:15px;
}
.content.collect {
    padding-bottom: 50px;
    margin: 20px 15px;
}
.cd-pagination li{
    padding:0px 5px;
}
li.current{
    color: red;
}
.weui-icon-warn {
    font-size:50px;
}

@keyframes delete{
    0% {width:0px;}
    10% {width: 20px;}
    25% {width:30px;}
    35% {width:40px;}
    50% {width:50px;}
    60% {width:60px;}
    70% {width:70px;}
    100% {width:80px;}
}

@-moz-keyframes delete{
    0% {width:0px;}
    10% {width: 20px;}
    25% {width:30px;}
    35% {width:40px;}
    50% {width:50px;}
    60% {width:60px;}
    70% {width:70px;}
    100% {width:80px;}
}

@-webkit-keyframes delete{
    0% {width:0px;}
    10% {width: 20px;}
    25% {width:30px;}
    35% {width:40px;}
    50% {width:50px;}
    60% {width:60px;}
    70% {width:70px;}
    100% {width:80px;}
}

@-o-keyframes delete{
    0% {width:0px;}
    10% {width: 20px;}
    25% {width:30px;}
    35% {width:40px;}
    50% {width:50px;}
    60% {width:60px;}
    70% {width:70px;}
    100% {width:80px;}
}
.weui-cell__bd p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.back{
    width:100%!important;
    left:initial;
}