body{
	margin:0px;
	font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif;
   
}
*{
	margin:0px;
	padding:0px;

}
header{
	width:100%;
	height:60px;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	background:#333333;
	margin: 0px;
	color:#fff;
	position:fixed;
	top:0px;
	left:0px;
	z-index:10;
}
.back{
	position: absolute;
	left:5%;
	font-size: 17px;
}
.icon-man{
	position: absolute;
	right:5%;
	font-size: 27px;
}

.content{
	padding-bottom:50px;
	
	margin:20px 15px;
}
.search{
	width: 92%;
    height: 35px;
    font-size:14px;
    line-height: 35px;
    padding-left: 8px;
    border: 1px solid #ccc;
}
.search-input{
	display: inline-block;
    width: calc(100% - 120px);
    
}
.search-btn{
	width: 120px;
    display: inline-block;
   
}
.search-btn .btn{
	height: 35px;
    width: 47%;
    line-height: 35px;
    text-align: center;
    font-size: 0.85em;
    box-sizing: content-box;
    /* padding: 0 4px; */
    display: inline-block;
    background: #fff;
    color: orange;
    border: 1px solid orange;
    /* margin-right: 5px; */
}
.search-btn .btn:last-child{
	margin-left: 2px;
}
.weui-tabbar__icon i,.weui-tabbar__label{
	color:#888;
}
.weui-cell_access:last-child{
	border-top:1px solid #d9d9d9;
}
.holder{
	text-align: center;
}
footer{
	position: fixed;
    bottom: 0px;
    width: 100%;
}
#itemContainer li{
	opacity: 1!important;
}
.time{
	font-size:12px;
	text-align:right;
}
.weui-panel.weui-panel_access{
	opacity: 1!important;
}
#itemContainer li{
	line-height: 21px;
	font-size:15px;
}

.weui-media-box__desc ul li:last-child{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.weui-media-box__desc ul li:first-child{
	text-indent:25px;
}
.weui-cells{
	min-height:420px;
	overflow-x: hidden;
}
.weui-tabbar{
	background: #f7f7fa;
}


/*分页*/

.cd-pagination li{
	
	display:inline-block;
}
.cd-pagination li a{
	padding:5px;
	color:#333;
	display:block;
}
.cd-pagination li span{
	padding:5px;
	display:block;
}
.cd-pagination .current a{
	color:red;
}
.holder{
	margin-top:20px;
}

.weui-tabbar__item {
	display:block;
	z-index:10000;
	padding: 8px 0 0;
}
.cd-pagination li:hover{
	color:red;
}
.noclick{
	pointer-events:none;
	color:#eee;
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************************/